@media (min-width: 376px) {
    .carousel-inner img {
        height: 300px;
    }
    .text-end {
        h1 {
            font-size: 22px !important;
        }
        h3 {
            font-size: 8px !important;
        }
        p {
            font-size: 10px !important;
            margin-left: 50px !important;
        }
        .learn-more-button {
            font-size: 10px !important;
            padding: 3px 6px !important;
        }
    }
    .text-start {
        h1 {
            font-size: 22px !important;
        }
        h3 {
            font-size: 17px !important;
        }
        p {
            font-size: 13px !important;
        }
        .learn-more-button {
            font-size: 10px !important;
            padding: 3px 6px !important;
        }
    }
    .text-center {
        padding-left: 100px !important;
        h1 {
            font-size: 20px !important;
        }
        h2 {
            font-size: 12px !important;
        }
        .learn-more-button {
            font-size: 10px !important;
            padding: 3px 6px !important;
        }
    }   
    .third-section-container {
        grid-template-columns: 1fr !important;
    }
    .more-info-container {
        flex-direction: column;
        align-items: center;
        .more-info-left-side {
            text-align: center;
        }
        .more-info-right-side {
            align-items: center !important;
            justify-content: center !important;
            button {
                padding-top: 10px !important;
            }
        }
    }
    .courses-search-form {
        display: flex;
        flex-direction: column;
        input {
            margin-bottom: 20px !important;
        }
        button {
            padding: 10px 30px !important;
            width: 510px !important;
        }
    }
} 

    @media (min-width: 440px) {
    .carousel-inner img {
        height: 300px;
    }
    .text-end {
        h1 {
            font-size: 22px !important;
        }
        h3 {
            font-size: 8px !important;
        }
        p {
            font-size: 10px !important;
            margin-left: 100px !important;
        }
        .learn-more-button {
            font-size: 10px !important;
        }
    }
    .text-start {
        h1 {
            font-size: 22px !important;
        }
        h3 {
            font-size: 17px !important;
        }
        p {
            font-size: 13px !important;
        }
        .learn-more-button {
            font-size: 10px !important;
        }
    }
    .text-center {
        padding-left: 200px !important;
        h1 {
            font-size: 20px !important;
        }
        h2 {
            font-size: 12px !important;
        }
        .learn-more-button {
            font-size: 10px !important;
        }
    }   
    }
    
    @media (min-width: 576px) {
        .carousel-inner img {
            height: 400px;
        }
        .text-end {
            h1 {
                font-size: 32px !important;
            }
            h3 {
                font-size: 14px !important;
            }
            p {
                font-size: 8px !important;
                margin-left: 150px !important;
            }
            .learn-more-button {
                font-size: 15px !important;
            }
        }
        .text-start {
            h1 {
                font-size: 30px !important;
            }
            h3 {
                font-size: 20px !important;
            }
            p {
                font-size: 13px !important;
            }
        }
        .text-center {
            padding-left: 200px !important;
            h1 {
                font-size: 20px !important;
            }
            h2 {
                font-size: 13px !important;
                margin: 0px !important;
                margin-bottom: 15px !important;
            }
        }   
    }
    
    
    @media (min-width: 768px) {
        .text-end {
            h1 {
                font-size: 42px !important;
            }
            h3 {
                font-size: 19px !important;
            }
            p {
                font-size: 11px !important;
                margin-left: 350px !important;
            }
        }
        .text-start {
            h1 {
                font-size: 40px !important;
            }
            h3 {
                font-size: 30px !important;
            }
            p {
                font-size: 13px !important;
            }
        }
        .text-center {
            padding-left: 200px !important;
            h1 {
                font-size: 40px !important;
            }
            h2 {
                font-size: 22px !important;
            }
        }
        .third-section-container {
            grid-template-columns: 1fr 1fr 1fr 1fr !important;
        }
        .more-info-container {
            flex-direction: row !important;
            .more-info-left-side {
                text-align: start;
            }
        }
        
    }
    
    
    @media (min-width: 992px) {
        .text-end {
            h1 {
                font-size: 52px !important;
            }
            h3 {
                font-size: 23px !important;
            }
            p {
                font-size: 14px !important;
                margin-left: 450px !important;
            }
        }
        .text-start {
            h1 {
                font-size: 40px !important;
            }
            h3 {
                font-size: 30px !important;
            }
            p {
                font-size: 13px !important;
            }
        }
        .text-center {
            padding-left: 200px !important;
            h1 {
                font-size: 40px !important;
            }
            h2 {
                font-size: 22px !important;
            }
        }
    }
    
    @media (min-width: 1200px) {
        .text-end {
            h1 {
                font-size: 52px !important;
            }
            h3 {
                font-size: 23px !important;
            }
            p {
                font-size: 14px !important;
                margin-left: 600px !important;
            }
        }
        .text-start {
            h1 {
                font-size: 50px !important;
            }
            h3 {
                font-size: 30px !important;
            }
            p {
                font-size: 13px !important;
            }
        }
        .text-center {
            padding-left: 300px !important;
            h1 {
                font-size: 50px !important;
            }
            h2 {
                font-size: 22px !important;
            }
        }
        .courses-search-form {
            display: block !important;
            input {
                margin-bottom: 0px !important;
            }
            button {
                padding: 10px 25px !important;
                width: 130px !important;
            }
        }
    }
    
    
    
    @media (min-width: 1400px) {
        .text-end {
            h1 {
                font-size: 60px !important;
            }
            h3 {
                font-size: 28px !important;
            }
            p {
                font-size: 17px !important;
                margin-left: 600px !important;
            }
        }
        .text-start {
            h1 {
                font-size: 60px !important;
            }
            h3 {
                font-size: 40px !important;
            }
            p {
                font-size: 17px !important;
            }
        }
        .text-center {
            h1 {
                font-size: 60px !important;
            }
            h2 {
                font-size: 30px !important;
            }
        }
        
    }
    
    @media (min-width: 1920px) {
    
    }
    
    