#blog{
    .blog-wrapper{
        @include grid(repeat(3,1fr));
        gap: 30px;
        h3{
            font-size: 18px;
            text-transform: uppercase;
            text-align: center;
        }
        .news{
h3{
    a{
        font-family: $MontserratFonts;
        text-transform: none;
        font-size: 14px;
        margin-left: 10px;
        text-decoration: none;
        color: #72d5cd
        }
}
            .news-cards{
                @include flex(center,center,column,15px);
            }
        }
        .school{
            .scholl-wrapper{
                @include flex(center,center,column,15px);
                .video{
                    iframe{
                        width: 100%;
                    }
                }
            }
        }
        .instructer{
            .instr-wrapper{
                @include flex(center,center,column,15px);
            }
        }
    }
}