#ratings {
    padding: 100px 0;
    background-color: rgb(242, 242, 242);
    .recent-head {
        @include flex(center, center, row, 30px);
        font-family: $ralewayFonts;
        h2 {
        text-transform: uppercase;
        font-size: 25px !important;
        font-weight: 600;
        }
        button {
        background-color: #72d5cd;
        color: white;
        padding: 15px 20px;
        border-radius: 100%;
        }
    }
    .ratings-reviews {
        padding: 30px 270px;
        padding-bottom: 0px !important;
        position: relative;
        span {
            color: rgb(107, 212, 177);
        }
        p {
            color: gray;
        }
        .test {
            position: absolute;
            top: -50px !important;
            left: 150px !important;
            font-size: 110px !important;
            color: rgb(186, 186, 186);
        }
    }
}