* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  background-color: transparent;
  border-color: transparent;
  border: none;
}

body {
  background-color: #FFFBF2;
}

@media (min-width: 576px) {
  .text-end h1 {
    font-size: 32px !important;
  }
  .text-end h3 {
    font-size: 14px !important;
  }
  .text-end p {
    font-size: 8px !important;
    margin-left: 350px !important;
  }
  .text-end .learn-more-button {
    font-size: 15px !important;
  }
  .text-start h1 {
    font-size: 40px !important;
  }
  .text-start h3 {
    font-size: 30px !important;
  }
  .text-start p {
    font-size: 13px !important;
  }
  .text-center {
    padding-left: 200px !important;
  }
  .text-center h1 {
    font-size: 40px !important;
  }
  .text-center h2 {
    font-size: 22px !important;
  }
}
@media (min-width: 768px) {
  .text-end h1 {
    font-size: 42px !important;
  }
  .text-end h3 {
    font-size: 19px !important;
  }
  .text-end p {
    font-size: 11px !important;
    margin-left: 350px !important;
  }
  .text-start h1 {
    font-size: 40px !important;
  }
  .text-start h3 {
    font-size: 30px !important;
  }
  .text-start p {
    font-size: 13px !important;
  }
  .text-center {
    padding-left: 200px !important;
  }
  .text-center h1 {
    font-size: 40px !important;
  }
  .text-center h2 {
    font-size: 22px !important;
  }
}
@media (min-width: 992px) {
  .text-end h1 {
    font-size: 52px !important;
  }
  .text-end h3 {
    font-size: 23px !important;
  }
  .text-end p {
    font-size: 14px !important;
    margin-left: 450px !important;
  }
  .text-start h1 {
    font-size: 40px !important;
  }
  .text-start h3 {
    font-size: 30px !important;
  }
  .text-start p {
    font-size: 13px !important;
  }
  .text-center {
    padding-left: 200px !important;
  }
  .text-center h1 {
    font-size: 40px !important;
  }
  .text-center h2 {
    font-size: 22px !important;
  }
}
@media (min-width: 1200px) {
  .text-end h1 {
    font-size: 52px !important;
  }
  .text-end h3 {
    font-size: 23px !important;
  }
  .text-end p {
    font-size: 14px !important;
    margin-left: 600px !important;
  }
  .text-start h1 {
    font-size: 50px !important;
  }
  .text-start h3 {
    font-size: 30px !important;
  }
  .text-start p {
    font-size: 13px !important;
  }
  .text-center {
    padding-left: 300px !important;
  }
  .text-center h1 {
    font-size: 50px !important;
  }
  .text-center h2 {
    font-size: 22px !important;
  }
}
@media (min-width: 1400px) {
  .text-end h1 {
    font-size: 60px !important;
  }
  .text-end h3 {
    font-size: 28px !important;
  }
  .text-end p {
    font-size: 17px !important;
    margin-left: 600px !important;
  }
  .text-start h1 {
    font-size: 60px !important;
  }
  .text-start h3 {
    font-size: 40px !important;
  }
  .text-start p {
    font-size: 17px !important;
  }
  .text-center h1 {
    font-size: 60px !important;
  }
  .text-center h2 {
    font-size: 30px !important;
  }
}
@media (min-width: 376px) {
  .content {
    width: 300px;
    margin: 0 auto;
  }
}
@media (min-width: 440px) {
  .content {
    width: 400px;
    margin: 0 auto;
  }
}
@media (min-width: 576px) {
  .content {
    width: 540px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .content {
    width: 720px;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .content {
    width: 960px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .content {
    width: 1140px;
    margin: 0 auto;
  }
}
@media (min-width: 1400px) {
  .content {
    width: 1320px;
    margin: 0 auto;
  }
}
@media (min-width: 1920px) {
  .content {
    width: 1840px;
    margin: 0 auto;
  }
}
.carusel-slide-1 .text-end p, .carusel-slide-1 h1, .carusel-slide-1 h3 {
  text-align: end;
}
.carusel-slide-1 .text-end {
  height: 100%;
  display: flex !important;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.carusel-slide-1 .text-end h1 {
  font-size: 70px;
}
.carusel-slide-1 .text-end h3 {
  color: gray;
}
.carusel-slide-1 .text-end p {
  margin-left: 810px;
}

.carusel-slide-2 .text-start {
  height: 100%;
  display: flex !important;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.carusel-slide-2 .text-start h1 {
  font-size: 70px;
}
.carusel-slide-2 .text-start h3 {
  font-size: 50px;
  color: gray;
}
.carusel-slide-2 .text-start p {
  color: gray !important;
  font-size: 20px;
}
.carusel-slide-2 .text-start p, .carusel-slide-2 h1, .carusel-slide-2 h3 {
  text-align: start;
  color: black;
}

.carusel-slide-3 .text-center {
  height: 100%;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 500px;
}
.carusel-slide-3 .text-center h1 {
  font-size: 70px;
  color: white;
}
.carusel-slide-3 .text-center h2 {
  color: gray;
  margin: 20px 0px;
}/*# sourceMappingURL=style.css.map */