@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sacramento&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  background-color: transparent;
  border-color: transparent;
  border: none;
}

@media (min-width: 376px) {
  .carousel-inner img {
    height: 300px;
  }
  .text-end h1 {
    font-size: 22px !important;
  }
  .text-end h3 {
    font-size: 8px !important;
  }
  .text-end p {
    font-size: 10px !important;
    margin-left: 50px !important;
  }
  .text-end .learn-more-button {
    font-size: 10px !important;
    padding: 3px 6px !important;
  }
  .text-start h1 {
    font-size: 22px !important;
  }
  .text-start h3 {
    font-size: 17px !important;
  }
  .text-start p {
    font-size: 13px !important;
  }
  .text-start .learn-more-button {
    font-size: 10px !important;
    padding: 3px 6px !important;
  }
  .text-center {
    padding-left: 100px !important;
  }
  .text-center h1 {
    font-size: 20px !important;
  }
  .text-center h2 {
    font-size: 12px !important;
  }
  .text-center .learn-more-button {
    font-size: 10px !important;
    padding: 3px 6px !important;
  }
  .third-section-container {
    grid-template-columns: 1fr !important;
  }
  .more-info-container {
    flex-direction: column;
    align-items: center;
  }
  .more-info-container .more-info-left-side {
    text-align: center;
  }
  .more-info-container .more-info-right-side {
    align-items: center !important;
    justify-content: center !important;
  }
  .more-info-container .more-info-right-side button {
    padding-top: 10px !important;
  }
  .courses-search-form {
    display: flex;
    flex-direction: column;
  }
  .courses-search-form input {
    margin-bottom: 20px !important;
  }
  .courses-search-form button {
    padding: 10px 30px !important;
    width: 510px !important;
  }
}
@media (min-width: 440px) {
  .carousel-inner img {
    height: 300px;
  }
  .text-end h1 {
    font-size: 22px !important;
  }
  .text-end h3 {
    font-size: 8px !important;
  }
  .text-end p {
    font-size: 10px !important;
    margin-left: 100px !important;
  }
  .text-end .learn-more-button {
    font-size: 10px !important;
  }
  .text-start h1 {
    font-size: 22px !important;
  }
  .text-start h3 {
    font-size: 17px !important;
  }
  .text-start p {
    font-size: 13px !important;
  }
  .text-start .learn-more-button {
    font-size: 10px !important;
  }
  .text-center {
    padding-left: 200px !important;
  }
  .text-center h1 {
    font-size: 20px !important;
  }
  .text-center h2 {
    font-size: 12px !important;
  }
  .text-center .learn-more-button {
    font-size: 10px !important;
  }
}
@media (min-width: 576px) {
  .carousel-inner img {
    height: 450px;
  }
  .text-end h1 {
    font-size: 32px !important;
  }
  .text-end h3 {
    font-size: 14px !important;
  }
  .text-end p {
    font-size: 8px !important;
    margin-left: 150px !important;
  }
  .text-end .learn-more-button {
    font-size: 15px !important;
  }
  .text-start h1 {
    font-size: 30px !important;
  }
  .text-start h3 {
    font-size: 20px !important;
  }
  .text-start p {
    font-size: 13px !important;
  }
  .text-center {
    padding-left: 200px !important;
  }
  .text-center h1 {
    font-size: 20px !important;
  }
  .text-center h2 {
    font-size: 13px !important;
    margin: 0px !important;
    margin-bottom: 15px !important;
  }
}
@media (min-width: 768px) {
  .text-end h1 {
    font-size: 42px !important;
  }
  .text-end h3 {
    font-size: 19px !important;
  }
  .text-end p {
    font-size: 11px !important;
    margin-left: 350px !important;
  }
  .text-start h1 {
    font-size: 40px !important;
  }
  .text-start h3 {
    font-size: 30px !important;
  }
  .text-start p {
    font-size: 13px !important;
  }
  .text-center {
    padding-left: 200px !important;
  }
  .text-center h1 {
    font-size: 40px !important;
  }
  .text-center h2 {
    font-size: 22px !important;
  }
  .third-section-container {
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
  }
  .more-info-container {
    flex-direction: row !important;
  }
  .more-info-container .more-info-left-side {
    text-align: start;
  }
}
@media (min-width: 992px) {
  .text-end h1 {
    font-size: 52px !important;
  }
  .text-end h3 {
    font-size: 23px !important;
  }
  .text-end p {
    font-size: 14px !important;
    margin-left: 450px !important;
  }
  .text-start h1 {
    font-size: 40px !important;
  }
  .text-start h3 {
    font-size: 30px !important;
  }
  .text-start p {
    font-size: 13px !important;
  }
  .text-center {
    padding-left: 200px !important;
  }
  .text-center h1 {
    font-size: 40px !important;
  }
  .text-center h2 {
    font-size: 22px !important;
  }
}
@media (min-width: 1200px) {
  .text-end h1 {
    font-size: 52px !important;
  }
  .text-end h3 {
    font-size: 23px !important;
  }
  .text-end p {
    font-size: 14px !important;
    margin-left: 600px !important;
  }
  .text-start h1 {
    font-size: 50px !important;
  }
  .text-start h3 {
    font-size: 30px !important;
  }
  .text-start p {
    font-size: 13px !important;
  }
  .text-center {
    padding-left: 300px !important;
  }
  .text-center h1 {
    font-size: 50px !important;
  }
  .text-center h2 {
    font-size: 22px !important;
  }
  .courses-search-form {
    display: block !important;
  }
  .courses-search-form input {
    margin-bottom: 0px !important;
  }
  .courses-search-form button {
    padding: 10px 25px !important;
    width: 130px !important;
  }
}
@media (min-width: 1400px) {
  .text-end h1 {
    font-size: 60px !important;
  }
  .text-end h3 {
    font-size: 28px !important;
  }
  .text-end p {
    font-size: 17px !important;
    margin-left: 600px !important;
  }
  .text-start h1 {
    font-size: 60px !important;
  }
  .text-start h3 {
    font-size: 40px !important;
  }
  .text-start p {
    font-size: 17px !important;
  }
  .text-center h1 {
    font-size: 60px !important;
  }
  .text-center h2 {
    font-size: 30px !important;
  }
}
@media (min-width: 376px) {
  .content {
    width: 300px;
    margin: 0 auto;
  }
}
@media (min-width: 440px) {
  .content {
    width: 400px;
    margin: 0 auto;
  }
}
@media (min-width: 576px) {
  .content {
    width: 540px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .content {
    width: 720px;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .content {
    width: 960px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .content {
    width: 1140px;
    margin: 0 auto;
  }
}
@media (min-width: 1400px) {
  .content {
    width: 1140px;
    margin: 0 auto;
  }
}
@media (min-width: 1920px) {
  .content {
    width: 1400px;
    margin: 0 auto;
  }
}
#courses-search {
  background-image: url(/assets/Media/Images/inputsPicture.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  user-select: none;
}
#courses-search .courses-search-background {
  background-color: rgba(0, 0, 0, 0.447);
  height: 100%;
  width: 100%;
}
#courses-search .courses-search-background .courses-search-container {
  display: flex;
  flex-direction: column;
  padding: 100px 0px;
  align-items: center;
  justify-content: center;
  color: white;
}
#courses-search .courses-search-background .courses-search-container span {
  color: rgba(0, 0, 0, 0);
  border-top: 1px solid white;
  font-size: 50px;
}
#courses-search .courses-search-background .courses-search-container p {
  color: rgb(199, 199, 199);
}
#courses-search .courses-search-background .courses-search-container input {
  background-color: white;
  padding: 10px;
  margin: 0px 10px;
}
#courses-search .courses-search-background .courses-search-container .big-input {
  width: 500px;
}
#courses-search .courses-search-background .courses-search-container button {
  background-color: rgb(107, 212, 177);
  color: white;
  padding: 10px 37px;
}

#third-section {
  padding: 75px 0px;
}
#third-section .third-section-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
#third-section .third-section-container .section-box {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#third-section .third-section-container .section-box h1 {
  color: rgb(193, 193, 193);
  padding-bottom: 30px;
  font-size: 60px;
}
#third-section .third-section-container .section-box h5 {
  padding-bottom: 20px;
}
#third-section .third-section-container .section-box p {
  color: gray;
}

#more-info-section {
  background-color: rgb(242, 242, 242);
  padding: 40px 0px;
}
#more-info-section .more-info-container {
  display: flex;
}
#more-info-section .more-info-container .more-info-left-side {
  width: 60%;
  height: 100%;
}
#more-info-section .more-info-container .more-info-right-side {
  display: flex;
  width: 40%;
  height: 100% !important;
  justify-content: end;
  align-items: center;
  padding-top: 20px;
}
#more-info-section .more-info-container .more-info-right-side button {
  background-color: rgb(79, 79, 79);
  color: white;
  padding: 8px 15px;
}

.carusel-slide-1 .text-end p, .carusel-slide-1 h1, .carusel-slide-1 h3 {
  text-align: end;
}
.carusel-slide-1 .text-end {
  height: 100%;
  display: flex !important;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.carusel-slide-1 .text-end h1 {
  font-size: 70px;
}
.carusel-slide-1 .text-end h3 {
  color: gray;
}
.carusel-slide-1 .text-end p {
  margin-left: 810px;
}

.carusel-slide-2 .text-start {
  height: 100%;
  display: flex !important;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.carusel-slide-2 .text-start h1 {
  font-size: 70px;
}
.carusel-slide-2 .text-start h3 {
  font-size: 50px;
  color: gray;
}
.carusel-slide-2 .text-start p {
  color: gray !important;
  font-size: 20px;
}
.carusel-slide-2 .text-start p, .carusel-slide-2 h1, .carusel-slide-2 h3 {
  text-align: start;
  color: black;
}

.carusel-slide-3 .text-center {
  height: 100%;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 500px;
}
.carusel-slide-3 .text-center h1 {
  font-size: 70px;
  color: white;
}
.carusel-slide-3 .text-center h2 {
  color: gray;
  margin: 20px 0px;
}

header .header-wrapper .header-contact {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
header .header-wrapper .header-contact .head-contact {
  padding: 10px 0;
  font-size: 14px;
  color: #bababa;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}
@media (max-width: 1100px) {
  header .header-wrapper .header-contact .head-contact {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
}
header .header-wrapper .header-contact .head-contact .contact-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
@media (max-width: 1100px) {
  header .header-wrapper .header-contact .head-contact .contact-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
  }
}
@media (max-width: 992px) {
  header .header-wrapper .header-contact .head-contact .contact-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
}
header .header-wrapper .header-contact .head-contact .contact-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 40px;
}
@media (max-width: 1100px) {
  header .header-wrapper .header-contact .head-contact .contact-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
  }
}
@media (max-width: 992px) {
  header .header-wrapper .header-contact .head-contact .contact-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
}
header .header-wrapper .header-contact .head-contact .contact-right ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0px;
  gap: 25px;
  margin: 0;
}
header .header-wrapper .header-contact .head-contact .contact-right ul li {
  margin: 0;
}
header .header-wrapper .header-contact .head-contact .contact-right ul li a {
  color: black;
  font-size: 20px;
  text-decoration: none;
  margin: 0;
}
header .header-wrapper .header-contact .head-contact .contact-right ul li a img {
  width: 15px;
  height: 15px;
}
header .header-wrapper .header-contact .head-contact .contact-right .contact-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0px;
  gap: 15px;
  position: relative;
  margin: 0;
}
header .header-wrapper .header-contact .head-contact .contact-right .contact-btns::before {
  content: "";
  width: 2px;
  height: 2px;
  background-color: #7f7f7f;
  border-radius: 100%;
  position: absolute;
  left: -20px;
  top: 150px;
}
@media (max-width: 1100px) {
  header .header-wrapper .header-contact .head-contact .contact-right .contact-btns::before {
    width: 0px;
    height: 0px;
  }
}
header .header-wrapper .header-contact .head-contact .contact-right .contact-btns a {
  color: #bababa;
  text-decoration: none;
  margin: 0;
}
header .header-wrapper .header-contact .head-contact .contact-right .contact-btns a:hover {
  color: #72d5cd;
}
header .header-wrapper .header-contact .head-contact .contact-right .contact-btns a:first-of-type i {
  margin-right: 10px;
}
header .header-wrapper .navbar {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 0px;
}
@media (min-width: 768px) and (max-width: 991px) {
  header .header-wrapper .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 767px) {
  header .header-wrapper .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
  }
}
header .header-wrapper .navbar nav .nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
@media (max-width: 767px) {
  header .header-wrapper .navbar nav .nav-list {
    display: none;
  }
}
header .header-wrapper .navbar nav .nav-list li {
  position: relative;
}
header .header-wrapper .navbar nav .nav-list li:not(:first-of-type) a::before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #7f7f7f;
  border-radius: 100%;
  position: absolute;
  left: 0px;
  top: 11px;
  margin: 0;
}
@media (max-width: 1100px) {
  header .header-wrapper .navbar nav .nav-list li:not(:first-of-type) a::before {
    width: 0px;
    height: 0px;
  }
}
header .header-wrapper .navbar nav .nav-list li a {
  font-family: "Raleway", sans-serif;
  font-size: 11px;
  color: #7f7f7f;
  letter-spacing: 2px;
  font-weight: 700;
  padding-left: 17px;
  text-decoration: none;
  margin: 0;
}
@media (max-width: 1100px) {
  header .header-wrapper .navbar nav .nav-list li a {
    padding-left: 0px;
  }
}
header .header-wrapper .navbar nav .nav-menu {
  display: none;
}
@media (max-width: 767px) {
  header .header-wrapper .navbar nav .nav-menu {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0px;
    background-color: #ccc;
    color: white;
    font-size: 30px;
    padding: 2px 10px;
    cursor: pointer;
  }
}

#recent {
  padding: 100px 0;
}
#recent .recent-head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  font-family: "Raleway", sans-serif;
}
#recent .recent-head h2 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 600;
}
#recent .recent-head button {
  background-color: #72d5cd;
  color: white;
  padding: 15px 20px;
  border-radius: 100%;
}
#recent .view {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}
#recent .view a {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #72d5cd;
}
#recent .recent-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
@media (max-width: 767px) {
  #recent .recent-cards {
    display: grid;
    grid-template-columns: 1fr;
  }
}
#recent .recent-cards .recent-card {
  border-bottom: 3px solid #72d5cd;
}
#recent .recent-cards .recent-card .card-img img {
  width: 100%;
  height: 100%;
}
#recent .recent-cards .recent-card .card-desc {
  padding: 30px 15px 50px 15px;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
@media (max-width: 767px) {
  #recent .recent-cards .recent-card .card-desc {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 15px;
  }
}
#recent .recent-cards .recent-card .card-desc .desc-top h3 {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  color: #212121;
  line-height: 1.5;
}
#recent .recent-cards .recent-card .card-desc .desc-foot {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 15px;
}
@media (max-width: 767px) {
  #recent .recent-cards .recent-card .card-desc .desc-foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 0px;
  }
}
#recent .recent-cards .recent-card .card-desc .desc-foot button {
  padding: 5px 15px;
  background-color: #72d5cd;
  color: white;
}
#recent .recent-cards .recent-card .card-desc .desc-foot span {
  font-size: 13px;
  text-transform: uppercase;
  color: #a4a4a4;
}
#recent .recent-cards .recent-card .card-desc .desc-foot span i {
  margin-right: 10px;
}

#blog {
  padding: 100px 0;
}
#blog .blog-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
@media (max-width: 767px) {
  #blog .blog-wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
}
#blog .blog-wrapper h3 {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 50px;
  letter-spacing: 3.5px;
}
#blog .blog-wrapper .news h3 a {
  font-family: "Montserrat", sans-serif;
  text-transform: none;
  font-size: 14px;
  margin-left: 10px;
  text-decoration: none;
  color: #72d5cd;
  letter-spacing: 0;
}
#blog .blog-wrapper .news .news-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
#blog .blog-wrapper .news .news-cards .news-card {
  width: 100%;
  font-family: "Raleway", sans-serif;
  background-color: rgb(245, 245, 245);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  border-bottom: 2px solid #72d5cd;
}
#blog .blog-wrapper .news .news-cards .news-card .news-img {
  width: 60px;
  height: 60px;
}
#blog .blog-wrapper .news .news-cards .news-card .news-img img {
  width: 100%;
  height: 100%;
}
#blog .blog-wrapper .news .news-cards .news-card .news-desc {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}
#blog .blog-wrapper .news .news-cards .news-card .news-desc a {
  text-decoration: none;
  font-size: 13px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  color: #424242;
  letter-spacing: 1.3px;
}
#blog .blog-wrapper .news .news-cards .news-card .news-desc span {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #AEAEAE;
}
#blog .blog-wrapper .school .scholl-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
}
#blog .blog-wrapper .school .scholl-wrapper .video {
  margin-left: -20px;
  padding: 0;
}
#blog .blog-wrapper .school .scholl-wrapper .video iframe {
  width: 100%;
  margin: 0;
  padding: 0;
}
#blog .blog-wrapper .school .scholl-wrapper .scholl-desc {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
}
#blog .blog-wrapper .school .scholl-wrapper .scholl-desc h6 {
  font-family: "Raleway", sans-serif;
  color: #454545;
  font-weight: 600;
  line-height: 1.5;
}
#blog .blog-wrapper .school .scholl-wrapper .scholl-desc p {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #a4a4a4;
  line-height: 1.8;
}
#blog .blog-wrapper .instructer .instr-wrapper {
  background-color: rgb(245, 245, 245);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding-top: 20px;
}
#blog .blog-wrapper .instructer .instr-wrapper .instr-head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
#blog .blog-wrapper .instructer .instr-wrapper .instr-head .instr-img {
  border-radius: 100%;
  width: 115px;
  height: 115px;
}
#blog .blog-wrapper .instructer .instr-wrapper .instr-head .instr-img img {
  border-radius: 100%;
  width: 100%;
  height: 100%;
}
#blog .blog-wrapper .instructer .instr-wrapper .instr-head .instr-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}
#blog .blog-wrapper .instructer .instr-wrapper .instr-head .instr-title h3 {
  margin: 0;
  font-size: 18px;
  color: #72d5cd;
  font-family: "Raleway", sans-serif;
  letter-spacing: 0px;
  text-transform: none;
}
#blog .blog-wrapper .instructer .instr-wrapper .instr-head .instr-title span {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  color: #888888;
}
#blog .blog-wrapper .instructer .instr-wrapper .instr-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
#blog .blog-wrapper .instructer .instr-wrapper .instr-desc p {
  font-size: 15px;
  color: #A9A9A9;
  width: 80%;
  text-align: center;
}
#blog .blog-wrapper .instructer .instr-wrapper .instr-desc a {
  font-size: 14px;
  padding: 15px 25px;
  background-color: #72d5cd;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  border-bottom: 3px solid rgb(101, 180, 173);
}

#popular .popular-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 70px;
}
#popular .popular-wrapper .popular-head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
#popular .popular-wrapper .popular-head h2 {
  position: relative;
  font-size: 25px;
  font-family: "Raleway", sans-serif;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}
#popular .popular-wrapper .popular-head h2::after {
  content: "";
  height: 1px;
  width: 40px;
  background-color: black;
  position: absolute;
  bottom: -25px;
  right: 47%;
}
#popular .popular-wrapper .popular-head span {
  font-size: 14px;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  color: #A4A4A4;
}
#popular .popular-wrapper .popular-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
@media (max-width: 767px) {
  #popular .popular-wrapper .popular-cards {
    display: grid;
    grid-template-columns: 1fr;
  }
}
#popular .popular-wrapper .popular-cards .popular-card .popular-img img {
  width: 100%;
  height: 100%;
}
#popular .popular-contact {
  margin-top: 70px;
  padding: 50px 0;
  background-color: rgb(114, 213, 205);
}
#popular .popular-contact .popular-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 0px;
  color: white;
}
@media (max-width: 767px) {
  #popular .popular-contact .popular-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
}
#popular .popular-contact .popular-wrapper .contact-left {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
@media (max-width: 767px) {
  #popular .popular-contact .popular-wrapper .contact-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
}
#popular .popular-contact .popular-wrapper .contact-left h2 {
  font-size: 22px;
  font-family: "Raleway", sans-serif;
  letter-spacing: 2px;
}
#popular .popular-contact .popular-wrapper .contact-left P {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 767px) {
  #popular .popular-contact .popular-wrapper .contact-left P {
    text-align: center;
  }
}
#popular .popular-contact .popular-wrapper .contact-right button {
  padding: 15px 25px;
  background-color: rgb(85, 85, 85);
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}